@import '../../../assets/style/theme.scss';
header{
    height: .505rem;
    width: 100%; 
    background: $theme;
    display: flex!important;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 100;
    i{
        color:white;
        font-size: .35rem;
        margin-left: .1rem;
    }
    span{
        font-size: .18rem;
        color: white;
        flex: 1;
    }
}