.am-tabs-default-bar-tab {
  background-color: #F4F4F4;
}

.am-tabs-default-bar-tab-active {
  background-color: white;
}

.floor h3 {
  margin: 0;
  text-align: left;
  padding: .15rem;
  font-size: .14rem;
  font-weight: 400;
}

.floor ul {
  display: flex;
  flex-wrap: wrap;
}

.floor ul li {
  width: .9rem;
  height: 1.05rem;
}

.floor ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.floor ul li a img {
  width: .61rem;
  height: .61rem;
  margin: 0 auto;
}

.floor ul li a span {
  font-size: .12rem;
  color: black;
}
